<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJCZT6P6PF7LOSAYQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=evoappdata;AccountKey=Bx0L1WrJ++RyQAAtHYcMNmJOl2XhGd8A3EEm/6pEykfnkcFMd7HxH9f2nXtufRyaO/oHrhn2WUYwUw75DQUJGQ=="/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
</configuration>
