<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJCZT6P6PF7LOSAYQ" />
    <add key="AWSSecretKey" value="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" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="StorageAccount" value="DefaultEndpointsProtocol=https;AccountName=evoappdata;AccountKey=Bx0L1WrJ++RyQAAtHYcMNmJOl2XhGd8A3EEm/6pEykfnkcFMd7HxH9f2nXtufRyaO/oHrhn2WUYwUw75DQUJGQ=="/>
  </appSettings>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.0" version="v4.0" />
  </startup>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>