<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="AKIAJCZT6P6PF7LOSAYQ"/>
    <add key="AWSSecretKey" value="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"/>
    <add key="StorageAccount.ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=AccountName=bermudadevelopment2;AccountKey=J3oDGenz9P+C45Dx301RgfVkYI54KC7Sjnp5/y9fYCQjXg0T+mHc1ye1mUW0z53uv4V+GW3i1rUvNepqqY1I0g==" />
    <add key="DeploymentPackageFolder" value="evoapp-deployment-packages"/>
  </appSettings>
</configuration>
